@media only screen and (max-width: 600px) {
    .mobile-img {
        margin-top: 6rem;
    }

    .play-and-apple-icon .play-icon {
        height: 6rem;
        width: 65%;
        font-size: 16px;

    }

    .play-and-apple-icon .play-icon p span {
        font-size: 20px;
    }

    .saltate-section-right {
        margin: 0 auto;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}