@media only screen and (max-width: 600px) {
    .mobile-img {
        margin-top: 6rem;
    }

    .play-and-apple-icon .play-icon {
        height: 6rem;
        width: 65%;
        font-size: 16px;

    }

    .play-and-apple-icon .play-icon p span {
        font-size: 20px;
    }

    .saltate-section-right {
        margin: 0 auto;
        text-align: center;
    }

    .disfuta-1st-img {
        left: -67px;
    }

    .disfuta-2nd-img {
        left: 42px;
        top: 96px;
    }

    .disfuta-2nd-img img {}

    .footer-bottom-text {}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-img img {
        height: 100%;
        width: 200px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-img img {
        height: 100%;
        width: 300px;
        margin-right: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-img img {
        height: 100%;
        width: 350px;
        margin-right: 15px;
    }
}