@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600");

$montserrat-stack: "Montserrat",
sans-serif;

textarea:focus,
input:focus {
  outline: none;
}

@font-face {
  font-family: volterounded;
  src: url();
}

body {
  font-family: $montserrat-stack;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

footer {}