@import './3-basics/base';
@import './4-layout/nav';
@import "./4-layout/search";
@import './4-layout/carousel';
@import './4-layout/header';
@import './2-helpers/variables';
@import './4-layout/footer-items';
@import './4-layout/disfruta';
@import '../sass/4-layout/envetos';
@import './5-modules/carousel';
@import './4-layout/saltate';
@import './6-responsive/responsive.scss';