.salas-carousel-section {
  margin-top: 5rem;
  position: relative;
  margin-bottom: 5rem;
}

.carousel-title {
  text-align: center;
  margin-bottom: 4rem;
}

.carousel-caption-custom {}

.carousel-caption {
  right: 15%;
  bottom: -1rem;
  left: 21px;
  z-index: 10;
  text-align: left;
}

a.carousel-control-prev {
  position: absolute;
}

a.carousel-control-next {
  position: absolute;
}


.carousel-control-prev-icon {}

.carousel-control-next,
.carousel-control-prev {
  background: #000;
}