h4.eventot-tittle.carousel-title.disfruta-tittle {
  margin-bottom: 9rem;
}

.disfuta-1st-img {
  position: relative;
  z-index: 1;
  top: -47px;

}

.disfuta-2nd-img {
  position: absolute;
  top: 0;
  left: 160px;
  z-index: -3;
}

h3.tittle-txt.disfruta-h3 {
  font-weight: 600;
}