.eventot-tittle {
  width: 330px;
  margin: 0 auto;
  background: #F9B233;
  padding: .5rem;
  margin-top: 5rem;
  border-radius: 24px;

}

section.eventos-section {
  position: relative;
}
h4.bottom-txt.carousel-title {
  text-align: center;
  margin: 0 auto 4rem;
}