footer {
  background: #DBDBDB;
}

.footer-items {}

.footer-items-main {
  padding-top: 3rem;

  ul li a {
    color: #818181;
    font-weight: 300;
    font-size: 13px;
  }

  h5 {
    color: #3C3C3C;
    font-size: 15px;
    font-weight: 500;
  }

  .play-and-apple-icon {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0;
  }
}

.footer-items-main .footer-items-main .footer-icon {
  display: flex;
}

.play-and-apple-icon {
  margin-top: 1.3rem;

  .play-icon {
    background: #71BEAE;
    display: flex;
    height: 6rem;
    border-radius: 25px;
    padding: .9rem;
    font-size: 18px;
    font-weight: 300;
    margin-right: .5rem;
    box-shadow: 3px 3px 6px #000;

    a {
      display: flex;
      color: #fff;

      &:hover {
        text-decoration: none;
      }

      img {
        height: 70%;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 25%;
        margin-top: 11px;
        margin-right: 5px;
      }

      p span {
        font-size: 22px;
        font-weight: 600;
      }
    }

  }
}



.play-icon.apple-icon p {
  font-size: 18px;
}

p.footer-contact-text {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footer-bottom-text {
  padding-top: 1.5rem;
  border-top: 1px solid#707070;
}