footer {
  background: #DBDBDB;
}

.footer-items {}

.footer-items-main {
  padding-top: 3rem;
}

.footer-items ul,
.footer-items li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-icon {
  display: flex;
}

.play-and-apple-icon {
  margin-top: 1.3rem;

  .play-icon {
    background: #71BEAE;
    display: flex;
    height: 6rem;
    border-radius: 25px;
    padding: .9rem;
    font-size: 20px;
    margin-right: .5rem;
    box-shadow: 3px 3px 6px #000;

    img {
      height: 70%;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 25%;
      margin-top: 11px;
      margin-right: 5px;
    }

    p span {
      font-size: 26px;
    }
  }
}



.play-icon.apple-icon p {
  font-size: 18px;
}

.footer-bottom-text-left {
  margin-right: 24rem;
}

p.footer-contact-text {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footer-bottom-text {
  padding-top: 1.5rem;
  border-top: 1px solid#707070;
}