.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  margin: 0 auto;
  padding-bottom: 2rem;

  input {
    text-indent: 30px;
    width: 600px;
    border-radius: 36px;
    height: 80px;
    border: 1px solid #707070;
    position: relative;

  }

  input:focus {
    outline: 0;
  }

  span {
    background: #72BDAD;
    border-radius: 58px;
    height: 58px;
    width: 5%;
    position: absolute;
    left: 627px;
    top: 77px;
    z-index: 2;

    &.search-img-2 {
      left: 700px;
    }

    &.search-img-3 {
      left: 773px;
      background: #F9B233;

      // img {
      //   margin-top: .4rem;
      //   align-items: center;
      //   justify-content: center;
      //   margin-left: .14rem;
      // }
    }

    img {
      position: absolute;
      left: 0;
      left: 13px;
      top: 13px;
      height: 32px;
      width: 32px;
    }
  }


}